<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Installable App Dashboard | Home</title>
    <link rel="stylesheet" href="/dash/css/style.css" />
    <!-- <link rel="stylesheet" href="./vendors/css/grid.css" />
    <script src="./vendors/css/normalize.css"></script> -->
</head>

<body>
    <div class="nav">
        <a><%= username %></a>
        <a href="/dashboard">Home</a>
        <a href="/dashboard/commands">Commands</a>
        <a href="/dashboard/permissions">Permissions</a>
    </div>

    <div class="card home-card">
        <div>
            <h2>Top Commands</h2>
            <table>
                <thead>
                    <tr>
                        <th>Command Name</th>
                        <th>Number of Uses</th>
                    </tr>
                </thead>
                <tbody id="top-commands-table">
                    <% for (const command of mostUsedCommands) { %>
                    <tr>
                        <td><%= command.commandName %></td>
                        <td><%= command.uses %></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <div>
            <div class="pfp">
                <div alt="PFP" id="pfp"></div>
            </div>
            <h2>User Count: <%= users %></h2>
        </div>
    </div>

    <!-- Bottom buttons on home page (Commands/Permissions)-->
    <div class="home-card">
        <a href="/dashboard/commands" class="card">Commands</a>
        <a href="/dashboard/permissions" class="card">Permissions</a>
    </div>
    <div class="home-card logout-btn">
        <!-- Logout button -->
        <a href="/logout" class="card">Logout</a>
    </div>

    <script>
        const pfp = document.getElementById('pfp')
        pfp.style.backgroundImage = "url('<%= avatar %>')"
    </script>

    <!-- <script src="/dash/js/script.js"></script> -->
</body>

</html>