<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Installable App Dashboard</title>
    <link rel="stylesheet" href="/dash/css/style.css" />
    <!-- <link rel="stylesheet" href="./vendors/css/grid.css" />
    <script src="./vendors/css/normalize.css"></script> -->
</head>

<body>
    <div class="nav">
        <a><%= username %></a>
        <a href="/dashboard">Home</a>
        <a href="/dashboard/commands">Commands</a>
        <a href="/dashboard/permissions">Permissions</a>
    </div>

    <% for (const command in permissions) { %>
    <div class="permissions-card collapsed" data-type="command">
        <h2 onclick="toggleCard(this.parentElement)">
            <%= command %>
        </h2>
        <input type="text" placeholder="Enter ID" data-type="input" data-command="<%= command %>" />
        <ul class="id-list" data-type="list" data-command="<%= command %>">
            <!-- Placeholder for ids -->
            <% for (const id of permissions[command]) { %>
            <li>
                <span><%= id %></span>
                <button class="remove-id" onclick="removeId(this)">X</button>
            </li>
            <% } %>
        </ul>
    </div>
    <% } %>

    <script src="/dash/js/permissions.js"></script>
</body>

</html>